*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.CajaPrivacidad {
    margin: 0px 50px 10px 50px;
    padding: 25px;
}

.CajaPrivacidad h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 18px;
}

.CajaPrivacidad h2 {
    font-size: 25px;
    margin: 10px 0px;
}

.CajaPrivacidad p {
    font-size: 17px;
}